<!-- wp:blocktheme/header /-->

<!-- wp:blocktheme/banner -->
<!-- wp:blocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="wp-block-blocktheme-genericheading headline headline--large">Welcome!</h1>
<!-- /wp:blocktheme/genericheading -->

<!-- wp:blocktheme/genericheading {"text":"We think you'll like it here!","size":"medium"} -->
<h2 class="wp-block-blocktheme-genericheading headline headline--medium">We think you'll like it here!</h2>
<!-- /wp:blocktheme/genericheading -->

<!-- wp:blocktheme/genericheading {"text":"Why don't you check out the \u003cstrong\u003emajor \u003c/strong\u003eyou're interested in?","size":"small"} -->
<h3 class="wp-block-blocktheme-genericheading headline headline--small">
    Why don't you check out the
    <strong>major</strong>
    you're interested in?
</h3>
<!-- /wp:blocktheme/genericheading -->

<!-- wp:blocktheme/genericbutton {"text":"Find Your Major","linkObject":{"url":"/programs"},"colorName":"dark-orange"} -->
<a href="/programs" class="wp-block-blocktheme-genericbutton btn btn--large btn--dark-orange">Find Your Major</a>
<!-- /wp:blocktheme/genericbutton -->
<!-- /wp:blocktheme/banner -->

<!-- wp:blocktheme/eventsandblogs /-->

<!-- wp:blocktheme/slideshow -->
<!-- wp:blocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:blocktheme/genericheading {"text":"Slide #1 Example Text","size":"medium"} -->
<h2 class="wp-block-blocktheme-genericheading headline headline--medium">Slide #1 Example Text</h2>
<!-- /wp:blocktheme/genericheading -->

<!-- wp:blocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"orange"} -->
<a href="" class="wp-block-blocktheme-genericbutton btn btn--medium btn--orange">Learn More</a>
<!-- /wp:blocktheme/genericbutton -->
<!-- /wp:blocktheme/slide -->

<!-- wp:blocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:blocktheme/genericheading {"text":"Slide #2 Example test","size":"medium"} -->
<h2 class="wp-block-blocktheme-genericheading headline headline--medium">Slide #2 Example test</h2>
<!-- /wp:blocktheme/genericheading -->

<!-- wp:blocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-blocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:blocktheme/genericbutton -->
<!-- /wp:blocktheme/slide -->
<!-- /wp:blocktheme/slideshow -->

<!-- wp:blocktheme/banner -->
<!-- wp:blocktheme/genericheading {"text":"Enjoy our features"} -->
<h1 class="wp-block-blocktheme-genericheading headline headline--large">Enjoy our features</h1>
<!-- /wp:blocktheme/genericheading -->
<!-- /wp:blocktheme/banner -->

<!-- wp:blocktheme/footer /-->
